<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome to my family</h1>
    <a class = 'father' href="/father" style="margin-left: 50px; margin-right: 50px; color:black"> Father</a>
    <a class = 'mother' href="/mother" style="margin-left: 50px; margin-right: 50px; color:black"> Mother</a>
    <a class = 'me' href="/me" style="margin-left: 50px; margin-right: 50px; color:black"> Me</a>
  </body>
</html>